<div class="container">
  <div class="row my-5">
    <div class="col-12">
      <h1>{{ pageTitle }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th *ngFor="let header of studentTableheaders">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let student of studentRowData; let i = index"
            [ngClass]="{
              'table-success': student.grade === 'A',
              'table-primary': student.grade === 'B',
              'table-warning': student.grade === 'C',
              'table-danger': student.grade === 'D'
            }"
          >
            <td>
              {{ student.id }}
            </td>
            <td style="width: 20%;">
              <div *ngIf="!student.isEdit; else elseBlock">
                {{ student.name }}
              </div>
              <ng-template #elseBlock>
                <input class="form-control" [value]="student.name">
              </ng-template>                          
            </td>
            <td>{{ student.marks }}</td>
            <td>{{ student.grade }}</td>
            <td>{{ student.result }}</td>
            <td>
              <button class="btn btn-primary" (click)="onEdit(i)">{{!student.isEdit ? "Edit" : "Update"}}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>